<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>948179603375-elinag99uibim4695dnierilj716bv53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948179603375-elinag99uibim4695dnierilj716bv53</string>
	<key>API_KEY</key>
	<string>AIzaSyCo_39fS2CdqvA6UM2Nud_uK_UZxQBO41U</string>
	<key>GCM_SENDER_ID</key>
	<string>948179603375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ElewaMobile.finalProject</string>
	<key>PROJECT_ID</key>
	<string>finalprojectpokemon</string>
	<key>STORAGE_BUCKET</key>
	<string>finalprojectpokemon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948179603375:ios:11a0b36c4f758262</string>
	<key>DATABASE_URL</key>
	<string>https://finalprojectpokemon.firebaseio.com</string>
</dict>
</plist>